<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
</head>
<body>
<div id="app">
    <form action="">
        <input type="text" v-model="id">
        <input type="text" v-model="name" @keyup.f2="add">
        <button type="button" @click="add">add</button>
        关键字搜索：<input type="text" v-model="keywords" v-focus>
    </form>

    <table width="500" border="1">
        <th>ID</th>
        <th>name</th>
        <th>option</th>
        <tr v-for="item in search(keywords)" :key="item.id">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td><a href="" @click.prevent="del(item.id)">del</a></td>
        </tr>
    </table>
</div>
<script src="lib/vue.js"></script>
<script>

    //自定义指令
    Vue.directive('focus', {
        inserted: function (el) {
            el.focus()

        }
    });

    //按键修饰符
    Vue.config.keyCodes.f2 = 113;

    //自定义全局过滤器
    Vue.filter('dateFormate',function (dateStr,pattern="") {
        var d = new Date(dateStr),
            y = d.getFullYear(),
            m = d.getMonth()+1,
            day = d.getDate(),
            h = d.getHours(),
            min = d.getMinutes(),
            s = d.getSeconds()
        if(pattern.toLocaleLowerCase()=='yyyy-mm-dd'){
            return `${y}-${m}-${day}`
        }else{
            return `${y}-${m}-${day} ${h}:${min}:${s}`;
        }
    });
    var vm = new Vue({
        el: '#app',
        data: {
            id: '',
            name: '',
            keywords: '',
            list: [
                {id: 1, name: 'zhang'},
                {id: 2, name: 'li'},
                {id: 3, name: 'wang'},
            ]
        },
        methods: {
            add() {
                if (this.id != '' && this.name != '')
                    return this.list.push({id: this.id, name: this.name})
            },
            del(id) {
                this.list.some((item, i) => {
                    if (item.id == id) {
                        this.list.splice(i, 1);
                        return true
                    }
                });
            },

            search(keywords) {
                var newList = [];
                this.list.forEach(item => {
                    if (item.name.indexOf(keywords) != -1) {
                        newList.push(item)
                    }
                })
                return newList;
            }
        },
    })
</script>
</body>
</html>